/* CocteauTwins.css */
.CocteauTwins {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .CocteauTwins-header {
    background-color: #2b193b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica', sans-serif; /* Sans-serif font for the header */
    font-size: calc(10px + 2vmin);
    color: #f8e6e6; /* Light pink color for the text */
  }
  
  .expanded-image {
    transform: scale(1.2); /* Change the scale value as desired to control the amount of expansion */
    transition: transform 0.3s ease; /* Add smooth transition on hover */
  }
  